<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, atque aliquid assumenda exercitationem fugit neque? Quisquam, aut eaque? Provident, dolore. Aspernatur alias impedit sit harum non doloribus quidem natus consequatur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam in adipisci ullam a, provident saepe deleniti! Et nobis, quisquam in earum voluptates eveniet error, voluptatibus pariatur nulla eius expedita dolore?</p>
</body>
</html>