<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs') %> 
<h2>Dojima Family Lieutenants</h2>
<ul>
    <% for (let lieut of lieutenants) { %> 
        <li><%= lieut %> </li>
    <% } %> 
</ul>
<%- include('./partials/footer.ejs') %> 